{%extends "layout.html" %} 

{%load static %} 

{% block title %} HomePage{% endblock %}

{% block content %} 
<h1 class='bg-orange-500 text-3xl'>Chai Home Page</h1>
<p class='text-center bg-gray-600 px-20 py-2'>
    Tea, a beloved beverage worldwide, offers comfort, warmth, and diverse flavors, enriching moments with relaxation and cultural significance.</p>
<p class='text-center bg-gray-800 px-20 py-2'>"Tea is the magic key to the vault where my brain is kept." - Frances Hardinge</p>

<div class='m-10 flex gap-5 justify-center items-center'>
    <a href="{% url 'chai_stores' %}">
        <button class='px-4 bg-green-700 text-2xl'>Explore Stores -></button>
    </a>
    <a href="{% url 'all_chai' %}">
        <button class='px-4 bg-green-700 text-2xl'>Explore Chais! -></button>
    </a>
</div>
{% endblock %}