{% extends "layout.html" %} 

{% load static %} 

{% block title %} All Chai {% endblock %}

{% block content %} 
<h1 class='text-xl font-bold'>All Types of Chai Available</h1>

<div class='grid grid-cols-3 gap-7 m-4'>
    {% for chai in chais %}
    <div class='bg-blue-800 p-2 rounded shadow-lg'>
        <img class='rounded' src="{{chai.image.url}}" alt="">
        <div class='flex justify-between items-center px-1'>
            <h3 class='text-2xl font-bold text-center p-2'>{{chai.name}}</h3>
            <span class='bg-green-400 text-black rounded-full px-2 font-bold'>{{chai.price}}</span>
        </div>
        <a href="{% url 'chai_detail' chai.id %}">
            <button
            type='button'
            class='m-2 mx-auto bg-orange-500 w-full px-4 py-2 hover:bg-orange-600 font-bold'
            >
                {{chai.type}} - {{chai.id}}
            </button>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}