{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Default Django Website {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    {% tailwind_css %}
  </head>
  <body>
    <div class='mb-2 px-6 py-3 flex items-center gap-4 bg-gray-700'>

      <a href="{% url 'home' %}">
        <nav>Home</nav>
      </a>
     
    </div>
    {% block content %}{% endblock %}
  </body>
</html>
